*{
    font-family: 'Cairo', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
button{
    transition: all .5s;
}
button:hover{
    background-color: white !important;
    color:black;
    font-weight: 700;
    box-shadow: 0 0 5px black;
}

.bg-main-color{
    background-color: #90caf9;
}
.text-main-color{
    color:#90caf9;
}
.main-title
{   
    text-shadow: 0 0 1px rgb(54, 54, 54);
    font-weight: 900;
}
#particles-js{
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: -1;
}


/* start nav */

.navbar-brand{
    border-radius: 50%;
}
.navbar-brand img{
     border-radius: 30px 0 30px 0;
     width:100px;
     height: 70px;
}
.nav-link{
    border-bottom: 3px solid transparent;
}

.nav-item .active{
    border-bottom: 3px solid white;
}
.colors{
    border-radius: 50%;
    width: 1.875rem;
    height: 1.875rem;
    border: none;
    box-shadow: 0 0.1875rem 0.5rem black;
}
.orange{
 background-color: #E68924;
}
.sky{
 background-color: #90caf9;
}
.green{
 background-color: #2b9f78;
}
nav{
    font-weight: 700;
}

.btn-outline-secondary {
    background-color: transparent;
    border-left: none !important;
    border-radius: 0 0.625rem 0.625rem 0 !important;
    background-color: white;
}
.input-group input{
    border-right:none;
    border-radius: 0.625rem 0 0 0.625rem !important;

    background-color: white;
    color: black;
}
.input-group input:focus{
    background-color: white;
}

.sign-in{
    padding: 0.625rem;
    border-radius:0.625rem;
    border: none;
    color: white;
}
.language{
    padding:0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    border: none;
    box-shadow: 0rem 0.125rem 0.3125rem black;
    font-weight: 700;
}


/* start main */

.info{
    margin: auto;
    box-shadow: 0rem 0.3125rem 0.5rem black;
    padding: 3.125rem 0.625rem;
    border-radius: 1.25rem;
    position: relative;
}

.inside-logo-div{
    position: absolute;
    bottom: 0;
    left:5px;
    font-weight: 500;
    font-size: 16px;
}
.inside-logo{
 width: 40px;
 height: 40px;
 border-radius: 50%;
}

.inside-logo img{
    border-radius:50%;
}
.info ul{
    list-style: none;
    font-weight: 700;
    padding: 0.625rem;
}


/* start section courses */

.course-item-logo{
    border-radius: 50%;
    width: 12.5rem;
    height: 12.5rem;
    cursor: pointer;
    transition: all .5s;
}
.course-item-logo:hover{
    transform: scale(1.2,1.2);
    box-shadow: 0rem 0.1875rem 0.5rem black;
    background-color: white !important;
}


/* setting */

.setting{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    padding: 1.25rem;
}
.gear-setting button{
    border-radius: 50%;
    border: none;
    background-color: white;
    box-shadow: 0rem 0.125rem 0.3125rem black;
    padding: 0.625rem;
}
.chat-bot{
    width: 15.625rem;
    height: 15.625rem;
    background-color: white;
    box-shadow: 0 0 0.3125rem black;
    border-radius: 0.625rem;
    margin-bottom: 0.3125rem;
}
.chat-bot p{
    font-weight: 700;
}
.chat-bot input{
    width: 80%;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
.chat-bot button{
    padding: 0.3125rem;
    border: none;
    border-radius: 0.625rem;
    font-weight: 600;
    width: 40%;
}
.chat-bot textarea{
    width: 80%;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    padding: 10px;
    border: none;
}


/* login & sign up */

.main-sign-page{
    padding: 1.875rem;
    height:31.25rem;
}

.login,.sign{
    padding: 3.125rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(255, 255, 255, .5);
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login form, .sign form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 50px;
    width: 100%;
}
.login form .form-control, .sign form .form-control{
    background-color: white;
    box-shadow: 0rem 0.125rem 0.3125rem black;
    padding: 5px;
    width: 350px;
    border: 3px solid transparent;

}
.login form .form-control:focus, .sign form .form-control:focus{
    border: 3px solid #90caf9;

}
.login form .form-control:hover, .sign form .form-control:hover{
    border: 3px solid #90caf9;

}



.sign-in-btn,.sign-up-btn{
    padding: 0.625rem;
    border-radius: 0.625rem;
    border: none;
    color: white;
    font-weight: 700;
    width: 80%;
}

/* about */

.info-about{
    border: 1px solid black;
}

/* suggetions */

.suggetion-body,.login-body{
    overflow: hidden;
}

.suggetions-input,.suggetions-textarea{
    background-color: white;
    box-shadow: 0 0 5px rgb(255, 244, 244);
    border-radius: 10px;
    width: 100%;
    padding: 0.625rem;
    border: 3px solid transparent;
}
.suggetions-input:hover,.suggetions-textarea:hover{
    border: 3px solid #90caf9 !important;
}
.suggetions-btn{
    padding: 0.625rem 1.875rem;
    border: none;
    font-weight: 700;
    border-radius: 0.625rem;
}

@media screen and (max-width:768px) {
    body,html{
        font-size: 15px;
    }
    .input-group{
        margin-bottom: 10px;
    }

    .info-main{
        margin: 40px 10px !important;
        padding:10px !important;
    }

}