*{
    font-family: 'Cairo', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --black:black;
    --main-color:#90caf9;
    --white:white;
}

#loading{
    background-color:whitesmoke;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background-color:transparent;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    height: 5%;
    width: 8px;
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: var(--black);
}
button{
    transition: all .5s;
}
button:hover{
    background-color: var(--white) !important;
    color:var(--black);
    font-weight: 700;
    box-shadow: 0 0 0.3125rem var(--black);
}

.bg-main-color{
    background-color: var(--main-color);
}
.text-main-color{
    color:var(--main-color);
}
.main-title
{   
    text-shadow: 0 0 1px rgb(54, 54, 54);
    font-weight: 900;
}
#particles-js{
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    z-index: -1;
}


/* start nav */

.navbar-brand{
    border-radius: 50%;
}
.navbar-brand img{
     border-radius: 1.875rem 0 1.875rem 0;
     width:6.25rem;
     height: 4.375rem;
}
.nav-link{
    border-bottom: 0.1875rem solid transparent;
}

.nav-item .active{
    border-bottom: 0.1875rem solid var(--white);
}
.orange,.sky,.green{
    border-radius: 50%;
    width: 1.875rem;
    height: 1.875rem;
    border: none;
    box-shadow: 0 0.1875rem 0.5rem var(--black);
}
.orange{
 background-color: #E68924;
}
.sky{
 background-color: #90caf9;
}
.green{
 background-color: #2b9f78;
}

nav{
    font-weight: 700;
}

.btn-outline-secondary {
    background-color: transparent;
    border-left: none !important;
    border-radius: 0 0.625rem 0.625rem 0 !important;
    background-color: var(--white);
}
.input-group input{
    border-right:none;
    border-radius: 0.625rem 0 0 0.625rem !important;

    background-color: var(--white);
    color: var(--black);
}
.input-group input:focus{
    background-color: var(--white);
}

.sign-in{
    padding: 0.625rem;
    border-radius:0.625rem;
    border: none;
    color: var(--white);
}
.language{
    padding:0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    border: none;
    box-shadow: 0rem 0.125rem 0.3125rem var(--black);
    font-weight: 700;
}


/* start main */

.info{
    margin: auto;
    box-shadow: 0rem 0.3125rem 0.5rem var(--black);
    padding: 3.125rem 0.625rem;
    border-radius: 1.25rem;
    position: relative;
}

.inside-logo-div{
    position: absolute;
    bottom: 0;
    left:5px;
    font-weight: 500;
    font-size: 16px;
}
.inside-logo{
 width: 40px;
 height: 40px;
 border-radius: 50%;
}

.inside-logo img{
    border-radius:50%;
}
.info ul{
    list-style: none;
    font-weight: 700;
    padding: 0.625rem;
}


/* start section courses */

.course-item-logo{
    border-radius: 50%;
    width: 12.5rem;
    height: 12.5rem;
    cursor: pointer;
    transition: all .5s;
}
.course-item-logo:hover{
    transform: scale(1.2,1.2);
    box-shadow: 0rem 0.1875rem 0.5rem var(--black);
    background-color: var(--white) !important;
}


/* setting */

.setting{
    position: fixed;
    bottom: 0.625rem;
    right: 0.625rem;
    background-color: transparent;
    padding: 1.25rem;
}
.gear-setting button{
    border-radius: 50%;
    border: none;
    background-color: var(--white);
    box-shadow: 0rem 0.125rem 0.3125rem var(--black);
    padding: 0.625rem;
}
.chat-bot{
    width: 15.625rem;
    height: 15.625rem;
    background-color: var(--white);
    box-shadow: 0 0 0.3125rem var(--black);
    border-radius: 0.625rem;
    margin-bottom: 0.3125rem;
}
.chat-bot p{
    font-weight: 700;
}
.chat-bot input{
    width: 80%;
    margin: auto;
    background-color: var(--white);
    box-shadow: 0 0 0.3125rem var(--black);
    border-radius: 0.625rem;
    padding: 0.625rem;
    border: none;
}
.chat-bot button{
    padding: 0.3125rem;
    border: none;
    border-radius: 0.625rem;
    font-weight: 600;
    width: 40%;
}
.chat-bot textarea{
    width: 80%;
    margin: auto;
    background-color: var(--white);
    box-shadow: 0 0 0.3125rem var(--black);
    border-radius: 0.625rem;
    padding: 0.625rem;
    border: none;
}


/* login & sign up */

.main-sign-page{
    padding: 1.875rem;
    height:31.25rem;
}

.login,.sign{
    padding: 3.125rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(255, 255, 255, .5);
    background-color:var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login form, .sign form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 3.125rem;
    width: 100%;
}
.login form .form-control, .sign form .form-control{
    background-color: var(--white);
    box-shadow: 0rem 0.125rem 0.3125rem var(--black);
    padding: 0.3125rem;
    width: 21.875rem;
    border: 0.1875rem solid transparent;

}
.login form .form-control:focus, .sign form .form-control:focus{
    border: 0.1875rem solid var(--main-color);

}
.login form .form-control:hover, .sign form .form-control:hover{
    border: 0.1875rem solid var(--main-color);

}



.sign-in-btn,.sign-up-btn{
    padding: 0.625rem;
    border-radius: 0.625rem;
    border: none;
    color: var(--white);
    font-weight: 700;
    width: 80%;
}

/* about */

.info-about{
    border: 0.0625rem solid var(--black);
}

/* suggetions */

.suggetion-body,.login-body{
    overflow: hidden;
}

.suggetions-input,.suggetions-textarea{
    background-color: var(--white);
    box-shadow: 0 0 5px rgb(255, 244, 244);
    border-radius: 0.625rem;
    width: 100%;
    padding: 0.625rem;
    border: 0.1875rem solid transparent;
}
.suggetions-input:hover,.suggetions-textarea:hover{
    border: 0.1875rem solid var(--main-color) !important;
}
.suggetions-btn{
    padding: 0.625rem 1.875rem;
    border: none;
    font-weight: 700;
    border-radius: 0.625rem;
}




/* sec9 */


.course-item-logo2{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: all .5s;
}
.course-item-logo2:hover{
    transform: scale(1.1,1.1);
    box-shadow: 0rem 0.1875rem 0.5rem black;
    background-color: var(--white) !important;
}


.sec9-cartona{
    padding:2.5rem;
    background-color: var(--white);
    margin:1.25rem 0;
    box-shadow: 0 0 0.625rem 0.625rem rgb(249, 249, 249);
    border-radius: 0.625rem;
}

.sec9-p{
    font-size: 0.8125rem;
    line-height: 1.4625rem;
    margin-top:0.625rem;
    font-weight: 300;
    color: #777777;
    text-decoration:none solid rgb(119, 119, 119);
    text-align: right;
}
.sec9-h6{
    color:#242424;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    text-decoration:none solid rgb(36, 36, 36)
}
.sec9-span{
    font-weight: 800;
    font-size: 0.75rem;
    line-height: 0.975rem;
} 
.c{
    font-size: 1.125rem;
    color: #777777;
    border: 0.0625rem solid #EEEEEE;
    padding: 0.3125rem;
    border-radius: 50%;
    transition: all .5s;
}
.fa-facebook-f{
padding: 0.3125rem 0.5625rem;
}
.fa-linkedin-in{
padding: 0.3125rem 0.4375rem;
}
.c:hover{
    color: var(--white);
    background-color: black;
    cursor: pointer;
    border: 0.0625rem solid black;
}
.sec9-img img{
    border-radius: 50%;
    width: 7.1875rem;
}





@media screen and (max-width:768px) {
    body,html{
        font-size: 15px;
    }
    .input-group{
        margin-bottom: 10px;
    }

    .info-main{
        margin: 40px 10px !important;
        padding:10px !important;
    }

}